<div class="cadastro-container">
    <div class="cadastro">
        <h1>Realize seu Cadastro</h1>
        <p>Por favor, preencha o formulário abaixo para se cadastrar.</p>
        <input type="text" placeholder="Nome" />
        <br />
        <input type="text" placeholder="Email" />
        <br />
        <input type="password" placeholder="Senha" />
        <br />
        <input type="password" placeholder="Confirme sua senha" />
        <br />
        <button>Realizar Cadastro</button>
        <p>Já possui uma conta? <a href="/login">Faça login aqui</a>.</p>
    </div>
</div>